* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

nav a{
    margin-right: 80px;
    font-size: 15px;
    transform: all ease 300ms;
    text-align: center;
    
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link {
    color: darkblue; 
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: blue; 
}

nav a:hover{
    color: blue;
    font-size: 30px;
    text-decoration: none;
    transform: scale(1.2);
    

}
.icono{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: goldenrod;
}
.compras{
    position: fixed;
    margin-top: 100px;
    right: 0;
    opacity: 0.4;
    
}

iframe{
    width: 100%;
    height: 300px;
}

/* Estilos para el formulario */
form {
    background-color: #f9f9f9; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Color del título */
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Color de las etiquetas */
}

/* Estilos para los inputs y selects */
input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: calc(100% - 22px); /* Ancho del input o select */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para los radios y checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
}
