* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

nav a{
    margin-right: 80px;
    font-size: 15px;
    transform: all ease 300ms;
    text-align: center;
    
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link {
    color: darkblue; /* Cambiar el color del texto a blanco */
}

.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-nav .nav-link:hover {
    color: blue; /* Cambiar el color del texto a blanco */
}

nav a:hover{
    color: blue;
    font-size: 30px;
    text-decoration: none;
    transform: scale(1.2);
    

}
.icono{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: goldenrod;
}
.compras{
    position: fixed;
    margin-top: 100px;
    right: 0;
    opacity: 0.4;
    
}

.carrusel{
    margin-top: 50px;
    width: 90%; 
    max-width: 700px; 
    height: 700px;
    margin-left: auto;
    margin-right: auto; 
}

